.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #292c2f;
    color: whitesmoke;
}

.footer_content {
    text-align: center;
    margin: 5px auto 5px auto;
}

.about_link, .contacts_link {
    display: inline;
}

.about_link a, .contacts_link a {
    text-decoration: none;
    color: whitesmoke;
}

.about_link a:hover, .contacts_link a:hover,
.about_link a:focus, .contacts_link a:focus {
    text-decoration: underline;
}

.copyright {
    margin-bottom: 5px;
    text-align: center;
    font-size: 10px;
    color: white;
}