@import "header_style.css";
@import "footer_style.css";

* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #d1d7ea99;
    text-align: center;
}

/* login page start */

.index_page_main_title_block {
    margin-top: 100px;
    margin-bottom: 20px;
    letter-spacing: 0.25em;
    text-shadow: 5px 3px 1px white;
}

.login_form {
    width: 300px;
    margin: 0 auto 0 auto;
    font-size: 15px;
    display: inline-block;
    border: 3px solid black;
    padding: 30px;
    box-shadow: 10px 10px 10px #6B7777;

}

.login_input {
    font-size: 18px;
    padding: 5px;
}

.login_labels {

}

.login_button {
    margin-top: 10px;
    width: 150px;
    height: 40px;
    box-shadow: 1px 1px 1px #6B7777;
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    letter-spacing: 0.05em;
}

.registration, .registration span {
    margin-top: 15px;
    font-size: 15px;
}

.registration_link {
    text-decoration: none;
    color: red;
}

/* login page end */

/* registration page start */

.registration_fieldset {
    margin: 10% auto 0 auto;
    width: 370px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: end;
}

.registration_legend {
    font-size: 30px;
    letter-spacing: 0.05em;
}

.registration_input {
    padding-top: 10px;
    padding-bottom: 10px;
}

.registration_button {
    margin-top: 5px;
    width: 190px;
    height: 35px;
    box-shadow: 1px 1px 1px #6B7777;
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    letter-spacing: 0.05em;
}

/* registration page end */

h2 {
    margin-left: 10px;
}

span {
    font-size: 20px;
}

a {

}

a:visited {

}

a:active {

}

a:focus {

}

/* purchase order start */

.wrapper {
    white-space: nowrap;
    text-align: left;
    overflow: scroll;
}

.left_side {
    display: inline-block;
    vertical-align: top;
    margin: 10px 0 0 10px;
}

.right_side {
    display: inline-block;
    vertical-align: top;
    margin: 25px 10px 0 0;
    text-align: center;
}

.purchase_order_add_row_fieldset {
    width: 405px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: end;
    font-size: 15px;
}

.purchase_order_legend {
    font-size: 30px;
    letter-spacing: 0.05em;
}

.purchase_order_input {
    padding-top: 10px;
    padding-bottom: 10px;
}

.chemical_form_selection {
    width: 207px;
    font-size: 15px;
}

.purchase_order_submit_button {
    margin-top: 5px;
    margin-left: 10px;
    width: 100px;
    height: 35px;
    box-shadow: 1px 1px 1px #6B7777;
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    letter-spacing: 0.05em;
    float: right;
}

.purchase_order_reset_button {
    margin-top: 5px;
    width: 150px;
    height: 35px;
    box-shadow: 1px 1px 1px #6B7777;
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    letter-spacing: 0.05em;
}

.scroll_table_body {
    height: 800px;
    overflow-x: auto;
}

.scroll_table table {
    width: 970px;
    table-layout: fixed;
    border: 1px solid black;
}

.scroll_table th {
    text-align: center;
    border: 1px solid black;
    font-size: 12px;
}

.scroll_table tbody td {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    font-size: 12px;
}

.scroll_table tr:hover {
    background: #eae08bc7;
}

.delete_row_button {
    margin-top: 5px;
    width: 70px;
    height: 25px;
    box-shadow: 1px 1px 1px #6B7777;
    border-radius: 5px 5px 5px 5px;
    font-size: 12px;
    letter-spacing: 0.05em;
}

/* purchase order end */
