<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml" lang="en, ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache"/>
    <meta name="description" content="purchase orders for export department of isotope production"/>
    <meta http-equiv="author" content="Evgenii Litvin"/>
    <title>Заказ-наряд | О программе</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
Тут написано о прграмме
<footer>
</footer>
</body>
</html>