<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache"/>
    <meta name="description" content="purchase orders for export department of isotope production"/>
    <meta http-equiv="author" content="Evgenii Litvin"/>
    <title></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<footer class="footer" id="footer" th:fragment="footer">
    <div class="footer_content">
        <div class="about_link">
            <a class="" th:href="@{/about}" target="_blank">О программе</a>
        </div>
        <div class="contacts_link">
            <a th:href="@{/contacts}" target="_blank">Контакты</a>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright &#169 2022-2023</p>
    </div>
</footer>
</body>
</html>