<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchase order | Вход</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="push_to_login">Нажмите <a class="push_to_login_link" th:href="@{/login}">здесь</a> чтобы начать работу.</div>
<footer class="footer" id="footer" th:fragment="footer">
    <div class="footer_top">
        <div class="navigation_links">
            <a class="about" th:href="@{/about}" target="_blank">О программе</a>
            <a class="contacts" th:href="@{/contacts}" target="_blank">Контакты</a>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="copyright">
            <p>Copyright &#169 2022</p>
        </div>
    </div>
</footer>
</body>
</html>