<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache"/>
    <meta name="description" content="purchase orders for export department of isotope production"/>
    <meta http-equiv="author" content="Evgenii Litvin"/>
    <title>Заказ-наряд</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div th:insert="~{header::header}">Header here</div>
</header>
<div class="wrapper">
    <div class="left_side">
        <fieldset class="purchase_order_add_row_fieldset">
            <legend class="purchase_order_legend">Добавить запись</legend>
            <form th:method="POST" th:object="${purchaseOrder}" th:action="@{/purchase_orders}">
                <div class="purchase_order_input">
                    <label>Номер контракта</label>
                    <input type="text" th:field="*{contractNumber}" th:value="${purchaseOrder.contractNumber}"/>
                </div>
                <div class="purchase_order_input">
                    <label>Номер дополнения</label>
                    <input type="text" th:field="*{contractAddendum}" th:value="${purchaseOrder.contractAddendum}"/>
                </div>
                <div class="purchase_order_input">
                    <label>Наименование изотопа</label>
                    <input type="text" th:field="*{isotope}" th:value="${purchaseOrder.isotope}"/>
                </div>
                <div class="purchase_order_input">
                    <label>Обогащение изотопа, %</label>
                    <input type="text" th:field="*{isotopeEnrichment}"
                           th:value="${purchaseOrder.isotopeEnrichment}"/>
                </div>
                <div class="purchase_order_input">
                    <label>Химическая форма</label>
                    <select th:field="*{isotopeChemicalForm}" class="chemical_form_selection">
                        <option th:value="carbonate">карбонат</option>
                        <option th:value="metal">металл</option>
                        <option th:value="oxide">оксид</option>
                        <option th:value="sulfate">сульфат</option>
                        <option th:value="chloride">хлорид</option>
                    </select>
                </div>
                <div class="purchase_order_input">
                    <label>Элементарный вес, мг</label>
                    <input type="text" th:field="*{isotopeElementaryWeight}"
                           th:value="${purchaseOrder.isotopeElementaryWeight}"/>
                </div>
                <div class="purchase_order_input">
                    <label>Лигатурынй вес, мг</label>
                    <input type="text" th:field="*{isotopeLigatureWeight}"
                           th:value="${purchaseOrder.isotopeLigatureWeight}"/>
                </div>
                <div>
                    <input type="submit" value="Добавить" class="purchase_order_submit_button"/>
                </div>
                <div>
                    <input type="reset" value="Очистить форму" class="purchase_order_reset_button"/>
                </div>
            </form>
        </fieldset>
    </div>
    <div class="right_side">
        <div class="scroll_table">
            <table style="height: 40px;">
                <thead>
                <tr>
                    <th style="width: 70px;">ID</th>
                    <th style="width: 120px;">Контракт</th>
                    <th style="width: 90px;">Дополнение</th>
                    <th style="width: 60px;">Изотоп</th>
                    <th style="width: 110px;">Обогащение, %</th>
                    <th style="width: 140px;">Химическая форма</th>
                    <th style="width: 170px;">Элементарный вес, мг</th>
                    <th style="width: 150px;">Лигатурный вес, мг</th>
                    <th style="width: 100px;">Действия</th>
                </tr>
                </thead>
            </table>
            <div class="scroll_table_body">
                <table>
                    <tbody th:each="purchaseOrder : ${allPurchaseOrders}">
                    <tr>
                        <td style="width: 60px;" th:text="${purchaseOrder.id}"></td>
                        <td style="width: 110px;" th:text="${purchaseOrder.contractNumber}"></td>
                        <td style="width: 80px;" th:text="${purchaseOrder.contractAddendum}"></td>
                        <td style="width: 50px;" th:text="${purchaseOrder.isotope}"></td>
                        <td style="width: 100px;" th:text="${purchaseOrder.isotopeEnrichment}"></td>
                        <td style="width: 130px;" th:text="${purchaseOrder.isotopeChemicalForm}"></td>
                        <td style="width: 160px;" th:text="${purchaseOrder.isotopeElementaryWeight}"></td>
                        <td style="width: 140px;" th:text="${purchaseOrder.isotopeLigatureWeight}"></td>
                        <td style="width: 90px;">
                            <form th:action="'/purchase_orders/' + ${purchaseOrder.id} + '/remove'" method="post">
                                <button class="delete_row_button" type="submit">Удалить</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
        <div th:insert="~{footer::footer}">Footer here</div>
    </footer>
</div>
</body>
</html>